/*========================================================
    File:        plan.css
    Description: CSS Styles for plan page
========================================================*/

/* + Plan CSS - Begin */

    /* - Plan Hour Box */
    .ph-1,
    .ph-10,
    .ph-100
    {
        display: inline-block;
        padding-bottom: 2px;
        margin-left: 5px;
        border-bottom: 4px solid #fff;
        cursor: pointer;
    }
    .ph-1
    {
        margin-left: 0;
    }
    .ph-1:hover,
    .ph-1.active
    {
        border-bottom: 4px solid #fdc51a;
    }
    .ph-10:hover,
    .ph-10.active
    {
        border-bottom: 4px solid #f3a216;
    }
    .ph-100:hover,
    .ph-100.active
    {
        border-bottom: 4px solid #f37916;
    }
    .ph-txt
    {
        color: #fff;
        font-size: 330%;
        display: inline-block;
        padding: 0 8px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        line-height: 1.2em;
    }
    .ph-1 .ph-txt
    {
        background-color: #fdc51a;
    }
    .ph-10 .ph-txt
    {
        background-color: #f3a216;
    }
    .ph-100 .ph-txt
    {
        background-color: #f37916;
    }
    .ph-unit
    {
        font-size: 50%;
        margin-left: 8px;
    }
    
/* + Plan CSS - End */