<div id="main">
    <div id="titlebar">
        <div class="pw align-c cf">
        </div>
    </div>
    <div id="content" class="pw align-c">
        <div id="container" class="txtalign-c">
            <div class="applybox align-c">
                <div class="welcometip pos-rel">
                    <h2 class="whi">
                        欢迎来<strong class="pur ml-15">啄米</strong>
                    </h2>
                    <p class="italic whi txt-xl">我们就快发布了！</p>
                    <span class="welcometip-prong pos-abs"></span>
                </div>
                <p class="pur txt-3xl mt-45">欢迎来到啄米网，将你的计划记录下来与以后的你和你的朋友分享</p>
                <p class="italic gra mt-10 txtalign-l ml-40 mr-40">是否有一个计划或梦想？是否想在执行的时候需要有个地方将过程纪录下来？啄米为你提供了一个平台来纪录你每天的脚步，和你一起分享成功路上的喜悦。</p>
                <div class="mt-60 align-c applyformbox pos-rel outerglow">
                    <form id="applyform" class="cf">
                        <label for="applyform-email" id="applyform-email-hint" class="gry pos-abs">输入您的电子邮件地址</label>
                        <input type="text" id="applyform-email" class="fb-input mgry" />
                        <div class="applyform-button col-l">
                            <input type="button" value="加入啄米" id="applyform-submit" class="whi hand txt-xl" />
                        </div>
                    </form>
                </div>
            </div>
            <div id="footer">
                <div class="pw align-c cf">
                    <span class="footer-siteinfo">&copy;&nbsp;2011&nbsp;啄米网&nbsp;沪ICP备198003220号&nbsp;</span>
                    <a class="footer-weibo ml-5 hand">关注啄米网：</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/page/apply.js"></script>

