<!DOCTYPE HTML>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>啄米</title>
    <meta content="啄米网" name="keywords" />
    <meta content="啄米网" name="description" />

    <link type="image/x-icon" rel="Shortcut Icon" href="favicon.ico" />
    <link type="image/x-icon" rel="Bookmark" href="favicon.ico" />

    <!--meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/-->
    
  <%= stylesheet_link_tag :zhuomi %>
  <%= csrf_meta_tag %>

</head>
<body>
	<%= yield %>
	<%= javascript_include_tag :zhuomi %>
</body>
</html>
